<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>ECommerce Fronted</title>

        <link href="{{ asset('bundles/ecommerceecommerce/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/ecommerceecommerce/css/bootstrap-responsive.css') }}" rel="stylesheet"
              type="text/css">
        <link href="{{ asset('bundles/ecommerceecommerce/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
</head>

<body>

{% block header %}
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
    <script src="../js/jquery-1.10.0.min.js"></script>
    <script src="../js/bootstrap.js"></script>
{% endblock %}
</body>
</html>



